body{
  background-color: #7d7d7d;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.w-2{
  width: 50%;
}
h1{
  margin: 50px;
}
.review-form {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 70px;
  max-width: 400px;
  margin: 50px auto;
  gap: 15px;
}

.review-form input,
.review-form textarea,
.review-form select,
.review-form button {
  padding: 15px;
  border: 1px solid #b4aeaece;
  border-radius: 10px;
}

.review-form button {
  color: #fff;
  cursor: pointer;
}

.rating {
  font-size: 40px;
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.star{
  color: #ddd;
}

.star.filled {
  color: gold;
}

.submit{
  background-color: #48444d;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .submit {
    padding: 0.25em 0.75em;
  }
}